force-app/main/default/flows/Update_Milestones_Projects_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Completed_Items</name>
        <label>Add Completed Items</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CompletedItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_To_Do_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Completed_Milestone</name>
        <label>Add Completed Milestone</label>
        <locationX>666</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>CompleteMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalMilestone</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_All_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Items</name>
        <label>Add Total Items</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TotalItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_To_Do_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Milestones</name>
        <label>Add Total Milestones</label>
        <locationX>1194</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>TotalMilestone</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_All_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Milestones_Mark_In_Progress_Flag_TRUE</name>
        <label>Add Total Milestones &amp; Mark In Progress Flag TRUE</label>
        <locationX>930</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>TotalMilestone</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isAnyMilestoneInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_All_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Status</name>
        <label>Complete Status</label>
        <locationX>446</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>MilestoneStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_Progress_Status</name>
        <label>In Progress Status</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>MilestoneStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Project_Record</name>
        <label>Map Project Record</label>
        <locationX>50</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>ProjectRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToDoItemRecord.Project_Milestones__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.CompletePercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectCompletePercent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Project_Record1</name>
        <label>Map Project Record</label>
        <locationX>314</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>ProjectRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToDoItemRecord.Project_Milestones__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.CompletePercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectCompletePercent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Project_Record2</name>
        <label>Map Project Record</label>
        <locationX>578</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>ProjectRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToDoItemRecord.Project_Milestones__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Project_Record3</name>
        <label>Map Project Record</label>
        <locationX>842</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>ProjectRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToDoItemRecord.Project_Milestones__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.CompletePercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectCompletePercent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Started_Status</name>
        <label>Not Started Status</label>
        <locationX>710</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>MilestoneStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_If_Item_is_Complete_Incomplete</name>
        <label>Verify If Item is Complete/Incomplete</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Add_Total_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_To_Do_Items.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Completed_Items</targetReference>
            </connector>
            <label>Complete Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_If_Milestone_is_completed</name>
        <label>Verify If Milestone is completed</label>
        <locationX>930</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Add_Total_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Milestone Not Started</defaultConnectorLabel>
        <rules>
            <name>Milestone_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_All_Milestones.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Completed_Milestone</targetReference>
            </connector>
            <label>Milestone Complete</label>
        </rules>
        <rules>
            <name>Milestone_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_All_Milestones.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Total_Milestones_Mark_In_Progress_Flag_TRUE</targetReference>
            </connector>
            <label>Milestone In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Milestone_Percent</name>
        <label>Verify Milestone Percent</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Percentage_0_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestonePercent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MilestonePercent</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Status</targetReference>
            </connector>
            <label>Percentage &gt; 0 &amp; &lt; 100</label>
        </rules>
        <rules>
            <name>Percentage_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestonePercent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Status</targetReference>
            </connector>
            <label>Percentage = 100</label>
        </rules>
        <rules>
            <name>Percentage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestonePercent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Started_Status</targetReference>
            </connector>
            <label>Percentage = 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Project_Percent</name>
        <label>Verify Project Percent</label>
        <locationX>578</locationX>
        <locationY>1742</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Percent_0_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectCompletePercent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectCompletePercent</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Project_Record</targetReference>
            </connector>
            <label>Project Percent &gt;0 &amp; &lt;100</label>
        </rules>
        <rules>
            <name>Percent_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectCompletePercent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Project_Record1</targetReference>
            </connector>
            <label>Percent = 100</label>
        </rules>
        <rules>
            <name>Milestone_is_in_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAnyMilestoneInProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Project_Record2</targetReference>
            </connector>
            <label>Milestone is in Progress?</label>
        </rules>
        <rules>
            <name>Project_Percentage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectCompletePercent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Project_Record3</targetReference>
            </connector>
            <label>Project Percentage = 0</label>
        </rules>
    </decisions>
    <description>This Flow is use to update &quot;% Complete&quot; &amp; &quot;Status&quot; in Projects &amp; Project Milestones.</description>
    <environments>Default</environments>
    <formulas>
        <name>MilestonePercent</name>
        <dataType>Number</dataType>
        <expression>({!CompletedItems}/{!TotalItems}) * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProjectCompletePercent</name>
        <dataType>Number</dataType>
        <expression>({!CompleteMilestones}/{!TotalMilestone}) * 100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Milestones &amp; Projects Completion % {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Milestones &amp; Projects Completion %</label>
    <loops>
        <name>Iterate_on_All_Milestones</name>
        <label>Iterate on All Milestones</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <collectionReference>Fetch_All_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_If_Milestone_is_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_Project_Percent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_To_Do_Items</name>
        <label>Iterate on To-Do Items</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <collectionReference>Fetch_All_To_do_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_If_Item_is_Complete_Incomplete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_Milestone_Percent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_All_Milestones</name>
        <label>Fetch All Milestones</label>
        <locationX>578</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_All_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToDoItemRecord.Project_Milestones__r.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Milestones__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>CompletePercent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_All_To_do_Items</name>
        <label>Fetch All To-do Items</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_To_Do_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Milestones__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToDoItemRecord.Project_Milestones__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TO_DO_Items__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Details</name>
        <label>Update Project Details</label>
        <locationX>578</locationX>
        <locationY>2042</locationY>
        <inputReference>ProjectRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Milestone</name>
        <label>Update Project Milestone</label>
        <locationX>578</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Fetch_All_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToDoItemRecord.Project_Milestones__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletePercent__c</field>
            <value>
                <elementReference>MilestonePercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>MilestoneStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Milestones__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_All_To_do_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompletedItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CompleteMilestones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isAnyMilestoneInProgress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MilestoneStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Projects__c</objectType>
    </variables>
    <variables>
        <name>ToDoItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TO_DO_Items__c</objectType>
    </variables>
    <variables>
        <name>TotalItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalMilestone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
